{% extends "accounts/layout.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Equipment home
{% endblock %}

{% block category %}
<div class="container-fluid mt-4">
    <h4 class="border-bottom p-2">Dashboard</h4>
    <div class="row">
        
        <div class="col-md-4 border-end card m-2 p-2">
            <h4 class="text-center bg-light">Add new equipment</h4>
            {% for message in messages %}
            <div class="alert alert-success">
                {{message}}
            </div>
            {%endfor%}
            <form action="{% url 'farm:equipment_dashboard' %}" method="post"
            enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <div class="p-2">
                <button type="submit" class="btn btn-info">submit</button>
            </div>
        </div>
        <div class="col-md-8 row">
            <div class="col-md-10 card ms-1">
                <h4 class="p-2 mt-1 bg-info text-center">Pending Inquiries</h4>
                <div class="row border-bottom mb-1">
                    <p class="col-md-3">Equipment</p>
                    <p class="col-md-2">Customer</p>
                    <p class="col-md-2">Email</p>
                    <p class="col-md-2">Date</p>
                    <p class="col-md-2">Subject</p>
                    <p class="col-md-1"></p>
                </div>
                <div class="">
                {% for object in inquiry %}
                <div class="row border-bottom py-1 pe-1">
                    <p class="col-md-3">{{object.equipment.name|slice:":20"}}</p>
                    <p class="col-md-2">{{object.customer}}</p>
                    <p class="col-md-2">{{object.email}}</p>
                    <p class="col-md-2">{{object.date}}</p>
                    <p class="col-md-2">{{object.subject|slice:":20"}}</p>
                    
                    <a class="col-md-1" href="{% url 'farm:equipment_inquiry' object.equipment.slug %}">
                    <button type="button" class="btn btn-primary btn-sm">Respond</button>
                    </a>
                
                </div>
                {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
