<div class="row gy-4">
    {% for product in products %}
    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
      <div class="card">
        <div class="card-img">
          <a href="{% url 'farm:product_details' product.slug product.pk %}">
          <img src="{{product.image.url}}" alt="{% if product.alt%}{{product.alt}}{%else%}product image{%endif%}" class="img-fluid">
          </a>
        </div>
        <h5 class="text-center"><a href="{% url 'farm:products_category' product.category.slug %}" class="">{{product.category.name}}</a></h5>
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>
      </div>
    </div><!-- End Card Item -->
    {% endfor %}
  </div>