{% extends "accounts/layout.html" %}
{% load static %}

{% block title %}
    HarvestSaver - Shopping
{% endblock %}

{% block category %}
    <section>
        <div class="">
            <div>
                {% for message in messages %}
                    <p class="p-2 bg-danger text-white">{{message}}</p>
                {%endfor%}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{product.image.url}}" class="img-fluid"
                        alt="{%if product.alt%}{{product.alt}}{%else%}product image{%endif%}">
                </div>
                <div class="col-md-3">
                    <h3>{{product.name}}</h3>
                    <p>{{product.description}}</p>
                    <div class="d-flex justify-content-between">
                        <h6>Farmer: {{product.owner.username}}</h6>
                        <p>Quantity: {{product.quantity}} bags</p>
                    </div>
                    <div class="">
                        <p>Product: {% if product.is_available%}Available{%else%}Out of stock{%endif%}</p>
                    </div>
                    <hr>
                    <h4>Plice: ksh {{product.price}}</h4>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-center p-2">ksh {{product.price}}</h5>
                            <h4>In Stock</h4>
                            <form action="{% url 'farm:add_to_cart' product.pk %}" method="post">
                                {% csrf_token %}
                                <div class="mb-4 pb-2">
                                    <label class="form-label select-label">Qty:</label>
                                    <div class="col-12">
                                    <select class="select form-control-lg" name="quantity">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="custom">Custom</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="">
                                    <button class="btn btn-primary btn-lg my-1" type="submit">Add to cart</button>
                                </div>
                            </form>
                            {% comment %}
                            <form action="{% url 'farm:remove_from_cart' product.pk %}" method="post">
                                {% csrf_token %}
                                <div class="mb-4 pb-2">
                                    <label class="form-label select-label">Qty:</label>
                                    <div class="col-12">
                                    <select class="select form-control-lg" name="quantity">
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="">
                                    <button class="btn btn-primary btn-lg my-1" type="submit">remove from cart</button>
                                </div>
                            </form>
                            {% endcomment %}
                            <div class="">
                            <button class="btn btn-primary btn-lg my-1" type="submit">Buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

