../venv/
../.vscode/
harvestsaver/.env
harvestsaver.log
db.sqlite3
*.pyc

harvestsaver/__pycache__/

accounts/__pycache__/
accounts/migrations/__pycache__/

farm/__pycache__/
farm/migrations/__pycache__/

transit/__pycache__/
transit/migrations/__pycache__/
