/* for register page */

.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
    }

.main-bg {
    background-color: rgba(14, 29, 52, 0.8);
}

.login-bg {
    background-color: burlywood;
}

.cart-icon {
    font-size: 36px;
}

.overlay-container {
    display: none;
    position: fixed;
    background-color: blueviolet;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
  }

  .overlay {
    background: orange;
    padding: 20px;
    border-radius: 10px;
  }

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #d0d7de;
  cursor: pointer;
}

.icon-sm {
  width: 14px;
  font-size: 14px;
  text-align: center;
}