{% extends "accounts/layout.html" %}
{% load static %}

{% block title %}
    Transport
{%endblock%}

{%block category%}
    <section id="get-a-quote" class="get-a-quote">
        <div class="container" data-aos="fade-up">
          <div class="row g-0">
            <div class="col-lg-5 quote-bg" style="background-image: url('{% static "assets/img/quote-bg.jpg" %}');"></div>
            {% include "transit/quote.html" %}
          </div>
  
        </div>
      </section><!-- End Get a Quote Section -->
{%endblock%}