{% extends "accounts/layout.html" %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block accounts %}
<div class="container">
<section class="gradient-custom">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-md-6 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 10px;">
            {% for message in messages %}
            <div class="bg-{{message.tags}} text-white p-2">
                <h4 class="text-center">{{message}}</h4>
            </div>
            {% endfor %}
            <div class="card-body p-2 p-md-1">
              <h3 class="mb-4 px-2 pb-md-0 mb-md-0">Registration Form</h3>
              <form action="{% url 'accounts:register' %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-5 mb-4">
  
                    <div class="form-outline">
                      <input type="text" name="first_name" class="form-control form-control-lg" />
                      <label class="form-label" for="first_name">First Name</label>
                    </div>
  
                  </div>
                  <div class="col-md-7 mb-2">
  
                    <div class="form-outline">
                      <input type="text" name="last_name" class="form-control form-control-lg" />
                      <label class="form-label" for="last_name">Last Name</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-5 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <input type="text" class="form-control form-control-lg" name="username" />
                      <label for="username" class="form-label">Username</label>
                    </div>
  
                  </div>
                  <div class="col-md-7 mb-2">
  
                    <h6 class="mb-2 pb-1">Gender: </h6>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                        value="female" required />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="maleGender"
                        value="male" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="otherGender"
                        value="other" />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-5 mb-4 pb-1">
  
                    <div class="form-outline">
                      <input type="email" name="email" class="form-control form-control-lg" required />
                      <label class="form-label" for="emailAddress">Email</label>
                    </div>
  
                  </div>
                  <div class="col-md-7 mb-4 pb-1">
  
                    <div class="form-outline">
                      <input type="tel" name="phone_number" class="form-control form-control-lg" />
                      <label class="form-label" for="phoneNumber">Phone Number</label>
                    </div>
  
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-5 mb-4 pb-1">
                    <label class="form-label select-label">Role</label>
                    <div class="form-outline">
                      <select class="select form-control-lg" name="role" required>
                        <option value="" disabled selected>Choose option</option>
                        <option value="customer">Customer</option>
                        <option value="farmer">Farmer</option>
                        <option value="equipment_owner">Equipment owner</option>
                      </select>
                      
                    </div>
                  </div>
                  <div class="col-md-7 mb-4 pb-2">
                    <label class="form-label select-label">Country</lebal>
                      <div class="col-md-12">
                        <select class="select form-control-lg" name="country" required >
                          <option value="" disabled selected>Choose Country</option>
                          <option value="algeria">Algeria</option>
                          <option value="angola">Angola</option>
                          <option value="benin">Benin</option>
                          <option value="botswana">Botswana</option>
                          <option value="burkina Faso">Burkina Faso</option>
                          <option value="burudi">Burudi</option>
                          <option value="cabo verde">Cabo verde</option>
                          <option value="cameroon">Cameroon</option>
                          
                          <option value="chad">Chad</option>
                          <option value="comoros">Comoros</option>
                         
                          <option value="cote d'lvoire">Cote d'lvoire</option>
                          <option value="djiboute">Djiboute</option>
                          <option value="egypt">Egypt</option>
                          <option value="equatorial guinea">Equatorial Guinea</option>
                          <option value="Eritrea">Eritrea</option>
                          <option value="ethiopia">Ethiopia</option>
                          <option value="gabon">Gabon</option>
                          <option value="gambia">Gambia</option>
                          <option value="ghana">Ghana</option>
                          <option value="Guinea">Guinea</option>
                          <option value="kenya">kenya</option>
                          <option value="lesotho">Lesotho</option>
                          <option value="liberia">Liberia</option>
                          <option value="libya">Libya</option>
                          <option value="madagascar">Madagascar</option>
                          <option value="malawi">Malawi</option>
                          <option value="mali">Mali</option>
                          <option value="mauritania">Mauritania</option>
                          <option value="mauritius">Mauritius</option>
                          <option value="morocco">Morocco</option>
                          <option value="mozambique">Mozambique</option>
                          <option value="namibia">Namibia</option>
                          <option value="niger">Niger</option>
                          <option value="nigeria">Nigeria</option>
                          <option value="rwanda">Rwanda</option>
                          <option value="senegal">senegal</option>
                          <option value="seychelles">Seychelles</option>
                          <option value="sierra leone">Sierra Leone</option>
                          <option value="somalia">Somalia</option>
                          <option value="south africa">South Africa</option>
                          <option value="south sudan">South Sudan</option>
                          <option value="sudan">sudan</option>
                          <option value="tanzania">Tanzania</option>
                          <option value="togo">Togo</option>
                          <option value="tunisia">Tunisia</option>
                          <option value="uganda">Uganda</option>
                          <option value="zambia">Zambia</option>
                          <option value="zimbabwe">Zimbabwe</option>
                        </select>
                      </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
    
                      <div class="form-outline">
                        <input type="password" name="password1" class="form-control form-control-lg" required/>
                        <label class="form-label" for="password1">Password</label>
                      </div>
    
                    </div>
                    <div class="col-md-7">
    
                      <div class="form-outline">
                        <input type="password" name="password2" class="form-control form-control-lg" required />
                        <label class="form-label" for="password2">Cornfirm password</label>
                      </div>
    
                    </div>
                </div>
  
                <div class="mt-4 pt-2 d-flex justify-content-between">
                  <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                  <p class="p-2 me-5">
                    Do you have account already? <a class="text-danger" href="{% url 'accounts:login' %}"><strong>Login.</strong></a>
                  </p>
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</div>

{% endblock %}